{% extends 'pg_admin/layout/temp.html' %} 
{% block content %}  

<!--begin::Content-->
<div class="d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container mb-7">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <!--begin::Alert-->
                    <div class="alert alert-success d-flex align-items-center p-5">
                        <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/docs/metronic/html/releases/2023-06-08-055059/core/html/src/media/icons/duotune/general/gen048.svg-->
                        <span class="svg-icon svg-icon-success svg-icon-2hx me-4"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z" fill="currentColor"/>
                            <path d="M10.5606 11.3042L9.57283 10.3018C9.28174 10.0065 8.80522 10.0065 8.51412 10.3018C8.22897 10.5912 8.22897 11.0559 8.51412 11.3452L10.4182 13.2773C10.8099 13.6747 11.451 13.6747 11.8427 13.2773L15.4859 9.58051C15.771 9.29117 15.771 8.82648 15.4859 8.53714C15.1948 8.24176 14.7183 8.24176 14.4272 8.53714L11.7002 11.3042C11.3869 11.6221 10.874 11.6221 10.5606 11.3042Z" fill="currentColor"/>
                            </svg>
                            </span>
                            <!--end::Svg Icon-->
        
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-column">
                            <!--begin::Title-->
                            <h4 class="mb-1 text-dark">{{message}}</h4>
                            <!--end::Title-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Alert-->
                    {% endif %}
                
                {% endfor %}
            {% endif %}
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <!-- <div class="card-header border-0 pt-6">
                    <div class="card-title">
                        <div class="d-flex align-items-center position-relative my-1">
                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>
                            </span>
                            <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search user" id="pencarian" />
                        </div>
                    </div>
                </div> -->
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-6">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-125px">Nama Lengkap</th>
                                <th class="min-w-125px">Terakhir Login</th>
                                <th class="min-w-125px">Tanggal Daftar Akun</th>
                                <th class="min-w-125px">Status Akun</th>
                                <th class="text-end min-w-100px">Aksi</th>
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="text-gray-600 fw-bold">

                            {% for siswa in siswa %}
                            <!--begin::Table row-->
                            <tr>
                                
                                <!--begin::User=-->
                                <td class="d-flex align-items-center">
                                    <!--begin:: Avatar -->
                                    <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                        <div class="symbol-label">
                                            <img src="media/{{ siswa.foto }}" alt="{{ siswa.nama_lengkap }}" class="w-100" />
                                        </div>
                                    </div>
                                    <!--end::Avatar-->
                                    <!--begin::User details-->
                                    <div class="d-flex flex-column">
                                        <a href="#" class="text-gray-800 text-hover-primary mb-1" data-bs-toggle="modal" data-bs-target="#modal_detail_{{ siswa.nomor_induk }}">{{ siswa.nama_lengkap }}</a>
                                        <span>{{ siswa.email }}</span>
                                    </div>
                                    <!--begin::User details-->
                                </td>
                                <!--end::User=-->
                                
                                <!--begin::Last login=-->
                                <td>
                                    {% if siswa.last_login == None %}
                                    <div class="badge badge-light-danger fw-bolder">
                                        Belum Login
                                    </div>
                
                                    {% else %}
                                    <div class="badge badge-light fw-bolder">
                                        {{ siswa.last_login }}
                                    </div>
                                    {% endif %}
                                </td>
                                <!--end::Last login=-->
                                
                                <!--begin::Joined-->
                                <td>{{ siswa.date_joined }}</td>
                                <!--begin::Joined-->
                                
                                <!--begin::Status-->
                                <td>
                                    {% if siswa.is_active == 1 %}
                                    <div class="badge badge-light-success fw-bolder">
                                        Aktif
                                    </div>
                                    {% else %}
                                    <div class="badge badge-light-danger fw-bolder">
                                        Tidak Aktif
                                    </div>
                                    {% endif %}
                                </td>
                                <!--begin::Status-->

                                <!--begin::Action=-->
                                <td class="text-end">
                                    <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">Aksi
                                    <!--begin::Svg Icon | path: icons/duotone/Navigation/Angle-down.svg-->
                                    <span class="svg-icon svg-icon-5 m-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999)" />
                                            </g>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon--></a>
                                    <!--begin::Menu-->
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <a href="#" class="menu-link px-3" data-bs-toggle="modal" data-bs-target="#modal_edit_{{ siswa.nomor_induk }}">Edit</a>
                                        </div>
                                        <div class="menu-item px-3">
                                            <a href="#" class="menu-link px-3 text-danger" data-bs-toggle="modal" data-bs-target="#modal_hapus_{{ siswa.nomor_induk }}">Hapus Akun</a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            {% if siswa.is_active == 1 %}
                                            <a href="/nonaktif-8a-{{ siswa.id }}" class="menu-link px-3 text-danger">Non-aktif</a>
                                            {% else %}
                                            <a href="/aktif-8a-{{ siswa.id }}" class="menu-link px-3 text-success">Aktifkan</a>
                                            {% endif %}
                                        </div>
                                        <!--end::Menu item-->
                                    </div>
                                    <!--end::Menu-->
                                </td>
                                <!--end::Action=-->
                            </tr>
                            <!--end::Table row-->
                            {% endfor %}

                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->

                <!-- LIHAT DETAIL SISWA -->
                {% for siswa in siswa %}
                <div class="modal fade" tabindex="-1" id="modal_detail_{{ siswa.nomor_induk }}">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ siswa.nama_lengkap }}
                                    <span>
                                        {% if siswa.is_active == 1 %}
                                        <div class="badge badge-light-success fw-bolder">
                                            Aktif
                                        </div>
                                        {% else %}
                                        <div class="badge badge-light-danger fw-bolder">
                                            Tidak Aktif
                                        </div>
                                        {% endif %}
                                    </span>
                                </h5>
                
                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-light-danger ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <!--begin::Svg Icon -->
                                    <span class="svg-icon svg-icon-danger svg-icon-2x"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" d="M6.7 19.4L5.3 18C4.9 17.6 4.9 17 5.3 16.6L16.6 5.3C17 4.9 17.6 4.9 18 5.3L19.4 6.7C19.8 7.1 19.8 7.7 19.4 8.1L8.1 19.4C7.8 19.8 7.1 19.8 6.7 19.4Z" fill="currentColor"/>
                                        <path d="M19.5 18L18.1 19.4C17.7 19.8 17.1 19.8 16.7 19.4L5.40001 8.1C5.00001 7.7 5.00001 7.1 5.40001 6.7L6.80001 5.3C7.20001 4.9 7.80001 4.9 8.20001 5.3L19.5 16.6C19.9 16.9 19.9 17.6 19.5 18Z" fill="currentColor"/>
                                        </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                </div>
                                <!--end::Close-->
                            </div>
                
                            <div class="modal-body">
                                <!--begin:: Avatar -->
                                <div class="d-flex flex-row flex-center">
                                    <div class="symbol symbol-square symbol-200px overflow-hidden me-3">
                                        <div class="symbol-label">
                                            <img src="media/{{ siswa.foto }}" alt="{{ siswa.nama_lengkap }}" class="w-100" />
                                        </div>
                                    </div>
                                </div>
                                <!--end::Avatar-->
                                <!--begin::User details-->
                                <div class="d-flex flex-column mt-5 fs-4">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>Nama Lengkap</td>
                                                <td>:</td>
                                                <td>
                                                    <h4 class="text-gray-800 mb-1">{{ siswa.nama_lengkap }}</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Email Siswa</td>
                                                <td>:</td>
                                                <td>
                                                    <h5>{{ siswa.email }}</h5>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>NISN</td>
                                                <td>:</td>
                                                <td>{{ siswa.nomor_induk }}</td>
                                            </tr>
                                            <tr>
                                                <td>Alamat</td>
                                                <td>:</td>
                                                <td>{{ siswa.alamat }}</td>
                                            </tr>
                                            <tr>
                                                <td>Jenis Kelamin</td>
                                                <td>:</td>
                                                <td>{{ siswa.jenis_kelamin }}</td>
                                            </tr>
                                            <tr>
                                                <td>Tanggal Akun Terdaftar</td>
                                                <td>:</td>
                                                <td>{{ siswa.date_joined }}</td>
                                            </tr>
                                            <tr>
                                                <td>Terakhir Login</td>
                                                <td>:</td>
                                                <td>
                                                    {% if siswa.last_login == None %}
                                                    <h4 class="text-danger">Belum Login</h4>
                                                    {% else %}
                                                    {{ siswa.last_login }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--begin::User details-->
                            </div>
                
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- LIHAT DETAIL SISWA -->
                
                <!-- EDIT SISWA -->
                {% for siswa in siswa %}
                <div class="modal fade" tabindex="-1" id="modal_edit_{{ siswa.nomor_induk }}">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <form id="kt_modal_add_user_form" class="form" method="post" action="/8a-{{ siswa.id }}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Data Siswa</h5>
                    
                                    <!--begin::Close-->
                                    <div class="btn btn-icon btn-sm btn-active-light-danger ms-2" data-bs-dismiss="modal" aria-label="Close">
                                        <!--begin::Svg Icon -->
                                        <span class="svg-icon svg-icon-danger svg-icon-2x"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.3" d="M6.7 19.4L5.3 18C4.9 17.6 4.9 17 5.3 16.6L16.6 5.3C17 4.9 17.6 4.9 18 5.3L19.4 6.7C19.8 7.1 19.8 7.7 19.4 8.1L8.1 19.4C7.8 19.8 7.1 19.8 6.7 19.4Z" fill="currentColor"/>
                                            <path d="M19.5 18L18.1 19.4C17.7 19.8 17.1 19.8 16.7 19.4L5.40001 8.1C5.00001 7.7 5.00001 7.1 5.40001 6.7L6.80001 5.3C7.20001 4.9 7.80001 4.9 8.20001 5.3L19.5 16.6C19.9 16.9 19.9 17.6 19.5 18Z" fill="currentColor"/>
                                            </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                    </div>
                                    <!--end::Close-->
                                </div>
                
                                <div class="modal-body">
                                <!--begin::Form-->
                                    <!--begin::Scroll-->
                                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">

                                        <!--FOTO SISWA-->
                                        <div class="fv-row mb-7">
                                            <!--begin::Label-->
                                            <label class="required d-block fw-bold fs-6 mb-5">Foto Siswa</label>
                                            <!--end::Label-->
                                            <!--begin::Image input-->
                                            <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url(static/media/avatars/blank.png)">
                                                <!--begin::Preview existing avatar-->
                                                <div class="image-input-wrapper w-125px h-125px" style="background-image: url(media/{{siswa.foto}});"></div>
                                                <!--end::Preview existing avatar-->
                                                <!--begin::Label-->
                                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                                                    <i class="bi bi-pencil-fill fs-7"></i>
                                                    <!--begin::Inputs-->
                                                    <input type="file" name="foto" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="avatar_remove" />
                                                    <!--end::Inputs-->
                                                </label>
                                                <!--end::Label-->
                                                <!--begin::Cancel-->
                                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                                                    <i class="bi bi-x fs-2"></i>
                                                </span>
                                                <!--end::Cancel-->
                                                <!--begin::Remove-->
                                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar"><i class="bi bi-x fs-2"></i></span>
                                                <!--end::Remove-->
                                            </div>
                                            <!--end::Image input-->
                                            <!--begin::Hint-->
                                            <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                                            <!--end::Hint-->
                                        </div>
                                        <!--FOTO SISWA-->

                                        <!--NOMOR SISWA-->
                                        <div class="fv-row mb-7">
                                            <!--begin::Label-->
                                            <label class="required fw-bold fs-6 mb-2">NISN</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="nomor_induk" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="123456789" value="{{ siswa.nomor_induk }}" />
                                            <!--end::Input-->
                                        </div>
                                        <!--NOMOR SISWA-->
                                        
                                        <!--NAMA LENGKAP-->
                                        <div class="fv-row mb-7">
                                            <!--begin::Label-->
                                            <label class="required fw-bold fs-6 mb-2">Nama Lengkap</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="nama_lengkap" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="John Doe" value="{{ siswa.nama_lengkap}}"/>
                                            <!--end::Input-->
                                        </div>
                                        <!--NAMA LENGKAP-->
                                        
                                        <!--EMAIL-->
                                        <div class="fv-row mb-7">
                                            <!--begin::Label-->
                                            <label class="required fw-bold fs-6 mb-2">Email</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="email" name="email" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="example@domain.com" value="{{ siswa.email }}" />
                                            <!--end::Input-->
                                        </div>
                                        <!--EMAIL-->
                                        
                                        <!--ALAMAT SISWA-->
                                        <div class="fv-row mb-12">
                                            <!--begin::Label-->
                                            <label class="required fw-bold fs-6 mb-2">Alamat Siswa</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="alamat" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Jl. Bence, Kediri" value="{{ siswa.alamat }}" />
                                            <!--end::Input-->
                                        </div>
                                        <!--ALAMAT SISWA-->

                                        <!--JENIS KELAMIN-->
                                        <div class="mb-7">
                                            <!--begin::Label-->
                                            <label class="required fw-bold fs-6 mb-5">Jenis Kelamin</label>
                                            <!--end::Label-->
                                            <!--begin::Roles-->
                                            <!--begin::Input row-->
                                            <div class="d-flex fv-row">
                                                <!--begin::Radio-->
                                                <div class="form-check form-check-custom form-check-solid">
                                                    <!--begin::Input-->
                                                    {% if siswa.jenis_kelamin == 'Perempuan' %}
                                                    <input class="form-check-input me-3" name="jenis_kelamin" type="radio" value="Perempuan" id="perempuan" checked />
                                                    {% else %}
                                                    <input class="form-check-input me-3" name="jenis_kelamin" type="radio" value="Perempuan" id="perempuan" />
                                                    {% endif %}
                                                    <!--end::Input-->
                                                    <!--begin::Label-->
                                                    <label class="form-check-label" for="perempuan">
                                                        <div class="fw-bolder text-gray-800">Perempuan</div>
                                                    </label>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Radio-->
                                            </div>
                                            <!--end::Input row-->
                                            <div class='separator separator-dashed my-5'></div>
                                            <!--begin::Input row-->
                                            <div class="d-flex fv-row">
                                                <!--begin::Radio-->
                                                <div class="form-check form-check-custom form-check-solid">
                                                    {% if siswa.jenis_kelamin == 'Laki-Laki' %}
                                                    <!--begin::Input-->
                                                    <input class="form-check-input me-3" name="jenis_kelamin" type="radio" value="Laki-Laki" id="laki_laki" checked />
                                                    {% else %}
                                                    <input class="form-check-input me-3" name="jenis_kelamin" type="radio" value="Laki-Laki" id="laki_laki" />
                                                    {% endif %}
                                                    <!--end::Input-->
                                                    <!--begin::Label-->
                                                    <label class="form-check-label" for="laki_laki">
                                                        <div class="fw-bolder text-gray-800">Laki-Laki</div>
                                                    </label>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Radio-->
                                            </div>
                                            <!--end::Input row-->
                                            <!--end::Roles-->
                                        </div>
                                        <!--JENIS KELAMIN-->
                                    </div>
                                    <!--end::Scroll-->
                                    <!--end::Form-->
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">Tutup</button>
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- EDIT SISWA -->

                <!-- HAPUS SISWA -->
                {% for siswa in siswa %}
                <div class="modal fade" tabindex="-1" id="modal_hapus_{{ siswa.nomor_induk }}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h3 class="modal-title text-white">PERINGATAN!</h3>
                
                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm bg-light-danger ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <!--begin::Svg Icon -->
                                    <span class="svg-icon svg-icon-danger svg-icon-2x"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" d="M6.7 19.4L5.3 18C4.9 17.6 4.9 17 5.3 16.6L16.6 5.3C17 4.9 17.6 4.9 18 5.3L19.4 6.7C19.8 7.1 19.8 7.7 19.4 8.1L8.1 19.4C7.8 19.8 7.1 19.8 6.7 19.4Z" fill="currentColor"/>
                                        <path d="M19.5 18L18.1 19.4C17.7 19.8 17.1 19.8 16.7 19.4L5.40001 8.1C5.00001 7.7 5.00001 7.1 5.40001 6.7L6.80001 5.3C7.20001 4.9 7.80001 4.9 8.20001 5.3L19.5 16.6C19.9 16.9 19.9 17.6 19.5 18Z" fill="currentColor"/>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                                <!--end::Close-->
                            </div>
                
                            <div class="modal-body">
                                <h3 class="text-danger">Yakin akan menghapus akun {{ siswa.nama_lengkap }}?</h3>
                            </div>
                
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                                <a href="/hapus-8a-{{ siswa.id }}" class="btn btn-danger">Hapus!</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- HAPUS SISWA -->

            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <!--begin::Svg Icon | path: icons/duotone/Navigation/Up-2.svg-->
    <span class="svg-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24" />
                <rect fill="#000000" opacity="0.5" x="11" y="10" width="2" height="10" rx="1" />
                <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
            </g>
        </svg>
    </span>
    <!--end::Svg Icon-->
</div>
<!--end::Scrolltop-->
<!--end::Main-->
              

{% endblock %}