{% extends 'pg_pengajar/layout/temp.html' %} 
{% block content %} 

<div class="d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div class="container" id="kt_content_container">
            <div class="row gy-10 gx-xl-10 mb-3">
                <!--begin::Col-->
                {% for item in datasoal %}
                <div class="col-md-3">
                    <div class="card card-flush shadow-sm">
                        <div class="card-header">
                            <h3 class="card-title"></h3>
                            <div class="card-toolbar">
                                <a class="btn btn-sm btn-light-success" href="/export-{{ item.kode_soal }}">Export Excel</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="svg-icon svg-icon-primary svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.5" x="7" y="2" width="14" height="16" rx="3" fill="currentColor"/>
                                        <rect x="3" y="6" width="14" height="16" rx="3" fill="currentColor"/>
                                    </svg>
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    <h2>{{ item.kode_soal }}</h2>
                                    <p class="text-danger">{{ item.tgl_input|date:"d M Y, H:i" }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-sm btn-primary" href="/nilai-{{ item.kode_soal }}">Detail</a>
                        </div>
                    </div>
                    <!-- <a href="/nilai-{{ item.kode_soal }}" class="card shadow-sm">
                        <div class="card-body">
                            <span class="svg-icon svg-icon-primary svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="7" y="2" width="14" height="16" rx="3" fill="currentColor"/>
                                <rect x="3" y="6" width="14" height="16" rx="3" fill="currentColor"/>
                            </svg>
                            </span>
                            <span class="ms-3 text-gray-700 fs-6 fw-bold">
                                
                            </span>

                            
                        </div>
                    </a> -->
                </div>
                <!--end::Col-->
                {% endfor %}
            </div>
            <!--end::Row-->
        </div>
    </div>
</div>

{% endblock %}