{% extends 'pg_pengajar/layout/temp.html' %} 
{% block content %} 

<div class="d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div class="container" id="kt_content_container">
            <div class="row gy-10 gx-xl-10 mb-7">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body pt-7">
                            <div class="table-responsive">
                                <table class="table table-hover table-rounded table-striped border gy-7 gs-7" id="tbl_siswa">
                                    <thead>
                                        <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                            <th>No</th>
                                            <th>Nama Siswa</th>
                                            <th>Kelas</th>
                                            <th>Nilai</th>
                                            <th>Detail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in datanilai %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td class="d-flex align-items-center">
                                                <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                                    <div class="symbol-label">
                                                        <img src="media/{{ row.foto }}" alt="{{ row.nama_lengkap }}" class="w-100" />
                                                    </div>
                                                </div>
                                                {{ row.nama_lengkap }}
                                            </td>
                                            <td>{{ row.id_kelas }}</td>
                                            <td>
                                                {% if row.nilai_siswa < 75 %}
                                                    <span class="badge badge-danger badge-square badge-lg p-2">{{ row.nilai_siswa }}</span>
                                                {% else %}
                                                    <span class="badge badge-success badge-square badge-lg p-2">{{ row.nilai_siswa }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="/detail-{{ row.kode_soal }}-{{ row.id_siswa }}" class="btn btn-sm btn-icon btn-warning"><i class="bi bi-chat-square-text-fill fs-4"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}