{% extends 'pg_pengajar/layout/temp.html' %} 
{% block content %} 

<div class="d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div class="container" id="kt_content_container">
            <!--begin::Row-->
            <div class="row gy-10 gx-xl-10 mb-7">
                <!--begin::Col-->
                <div class="col-md-12">
                    <a href="/tambah-soal" class="btn btn-primary"><i class="fas la-plus-circle fs-4 me-2"></i> Tambah Soal</a>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_tambah_ujian"><i class="fas la-plus-circle fs-4 me-2"></i> Tambah Ujian</a>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row gy-10 gx-xl-10 mb-7">
                <!--begin::Col-->
                {% for item in datasoal %}
                <div class="col-md-4">
                    <!--begin::Card-->
                    <div class="card card-flush h-md-100 bg-info">
                        <!--begin::Card header-->
                        <div class="card-header">
                            <!--begin::Card title-->
                            <div class="card-title">
                                <h1 class="text-white">[{{ item.kode_soal }}]</h1>
                            </div>
                            <!--end::Card title-->
                            <div class="card-toolbar">
                                <!--begin::Menu-->
                                <button type="button" class="btn btn-sm btn-icon btn-color-light" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
                                    <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                                        <rect x="11" y="11" width="2" height="2" rx="1" fill="currentColor"/>
                                        <rect x="11" y="15" width="2" height="2" rx="1" fill="currentColor"/>
                                        <rect x="11" y="7" width="2" height="2" rx="1" fill="currentColor"/>
                                        </svg>
                                    </span>
                                </button>
                                <!--begin::Menu 1-->
                                <div class="menu menu-sub menu-sub-dropdown w-110px h-90px" data-kt-menu="true">
                                    <!--begin::Form-->
                                    <div class="px-7 py-5">
                                        <div class="mb-5">
                                            <a href="#" class="menu-link px-3" data-bs-toggle="modal" data-bs-target="#modal_edit_ujian">Edit</a>
                                        </div>
                                        <div class="mb-5">
                                            <a href="#" class="menu-link px-3 text-danger" data-bs-toggle="modal" data-bs-target="#modal_hapus">Hapus</a>
                                        </div>
                                    </div>
                                    <!--end::Form-->
                                </div>
                                <!--end::Menu 1-->
                                <!--end::Menu-->
                            </div>
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-1">
                            <!--begin::Users-->
                            <h2 class="text-white">{{ item.nama_ujian }}</h2> <br>
                            <div class="fw-bolder text-white mb-5">Total keseluruhan soal: {{ item.jumlah_soal }}</div>
                            <!--end::Users-->
                            <!--begin::Permissions-->
                            <div class="d-flex flex-column text-white">
                                <div class="d-flex align-items-center py-2">
                                    <span class="bullet bg-primary me-3"></span>
                                    Baca doa sebelum mengerjakan soal
                                </div>
                                <div class="d-flex align-items-center py-2">
                                    <span class="bullet bg-primary me-3"></span>Pastikan dalam posisi nyaman dan tidak terganggu
                                </div>
                                <div class="d-flex align-items-center py-2">
                                    <span class="bullet bg-primary me-3"></span>Pastikan jaringan internet stabil
                                </div>
                                <div class='d-flex align-items-center py-2'>
                                    <span class='bullet bg-primary me-3'></span>
                                    <em>Silakan mengerjakan jika sudah siap!</em>
                                </div>
                            </div>
                            <!--end::Permissions-->
                        </div>
                        <!--end::Card body-->
                        <!--begin::Card footer-->
                        <div class="card-footer d-flex justify-content-end align-items-end pt-0">
                            <a href="/detail-{{ item.kode_soal }}" class="btn btn-light btn-active-primary my-1 me-2">Lihat Daftar Soal</a>
                        </div>
                        <!--end::Card footer-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Col-->
                {% endfor %}
            </div>
            <!--end::Row-->

            <!-- MODAL TAMBAH UJIAN -->
            <div class="modal fade" tabindex="-1" id="modal_tambah_ujian">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <form id="kt_modal_add_user_form" class="form" method="post" action="/tambah-ujian">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title">Tambah Ujian</h5>
                
                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-light-danger ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <!--begin::Svg Icon -->
                                    <span class="svg-icon svg-icon-danger svg-icon-2x"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" d="M6.7 19.4L5.3 18C4.9 17.6 4.9 17 5.3 16.6L16.6 5.3C17 4.9 17.6 4.9 18 5.3L19.4 6.7C19.8 7.1 19.8 7.7 19.4 8.1L8.1 19.4C7.8 19.8 7.1 19.8 6.7 19.4Z" fill="currentColor"/>
                                        <path d="M19.5 18L18.1 19.4C17.7 19.8 17.1 19.8 16.7 19.4L5.40001 8.1C5.00001 7.7 5.00001 7.1 5.40001 6.7L6.80001 5.3C7.20001 4.9 7.80001 4.9 8.20001 5.3L19.5 16.6C19.9 16.9 19.9 17.6 19.5 18Z" fill="currentColor"/>
                                        </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                </div>
                                <!--end::Close-->
                            </div>
            
                            <div class="modal-body">
                            <!--begin::Form-->
                                <!--begin::Scroll-->
                                <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                                    
                                    <!--Kode Soal-->
                                    <div class="fv-row mb-7">
                                        <!--begin::Label-->
                                        <label class="required fw-bold fs-6 mb-2">Kode Soal</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="text" name="kode_soal" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="cth: KDS001"/>
                                        <!--end::Input-->
                                    </div>
                                    <!--Kode Soal-->
                                    
                                    <!--NAMA UJIAN-->
                                    <div class="fv-row mb-7">
                                        <!--begin::Label-->
                                        <label class="required fw-bold fs-6 mb-2">Nama Ujian</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="text" name="nama_ujian" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="cth: Ulangan Harian Bab 1 Bhs Indonesia"/>
                                        <!--end::Input-->
                                    </div>
                                    <!--NAMA UJIAN-->
                                    
                                    <!--Jumlah Soal-->
                                    <div class="fv-row mb-7">
                                        <!--begin::Label-->
                                        <label class="required fw-bold fs-6 mb-2">Jumlah Soal</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="number" name="jumlah_soal" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="cth: 10"/>
                                        <!--end::Input-->
                                    </div>
                                    <!--Jumlah Soal-->

                                    <!--NAMA KELAS-->
                                    <div class="mb-7">
                                        <label class="required fw-semibold fs-6 mb-2">Kelas</label>
                                        <select class="form-select" data-control="select2" data-placeholder="--Pilih Kelas--" name="id_kelas">
                                            <option></option>
                                            {% for kelas in kls %}
                                            <option value="{{kelas.id_kelas}}">{{kelas.nama_kelas}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!--NAMA KELAS-->

                                    <!-- MAPEL -->
                                    <input hidden type="text" name="id_mapel" class="form-control form-control-solid mb-3 mb-lg-0" value="{{ user.id_mapel }}"/>
                                    <!-- MAPEL -->
                                </div>
                                <!--end::Scroll-->
                                <!--end::Form-->
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- MODAL TAMBAH UJIAN -->
            
            <!-- MODAL EDIT UJIAN -->
            {% for item in datasoal %}
            <div class="modal fade" tabindex="-1" id="modal_edit_ujian">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <form id="kt_modal_add_user_form" class="form" method="post" action="/edit-ujian">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Ujian</h5>
                
                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-light-danger ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <!--begin::Svg Icon -->
                                    <span class="svg-icon svg-icon-danger svg-icon-2x"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" d="M6.7 19.4L5.3 18C4.9 17.6 4.9 17 5.3 16.6L16.6 5.3C17 4.9 17.6 4.9 18 5.3L19.4 6.7C19.8 7.1 19.8 7.7 19.4 8.1L8.1 19.4C7.8 19.8 7.1 19.8 6.7 19.4Z" fill="currentColor"/>
                                        <path d="M19.5 18L18.1 19.4C17.7 19.8 17.1 19.8 16.7 19.4L5.40001 8.1C5.00001 7.7 5.00001 7.1 5.40001 6.7L6.80001 5.3C7.20001 4.9 7.80001 4.9 8.20001 5.3L19.5 16.6C19.9 16.9 19.9 17.6 19.5 18Z" fill="currentColor"/>
                                        </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                </div>
                                <!--end::Close-->
                            </div>
            
                            <div class="modal-body">
                            <!--begin::Form-->
                                <!--begin::Scroll-->
                                <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                                    
                                    <!--Kode Soal-->
                                    <div class="fv-row mb-7">
                                        <!--begin::Label-->
                                        <label class="required fw-bold fs-6 mb-2">Kode Soal</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="text" name="kode_soal" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="cth: KDS001" value="{{ item.kode_soal }}"/>
                                        <!--end::Input-->
                                    </div>
                                    <!--Kode Soal-->
                                    
                                    <!--NAMA UJIAN-->
                                    <div class="fv-row mb-7">
                                        <!--begin::Label-->
                                        <label class="required fw-bold fs-6 mb-2">Nama Ujian</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="text" name="nama_ujian" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="cth: Ulangan Harian Bab 1 Bhs Indonesia" value="{{ item.nama_ujian }}"/>
                                        <!--end::Input-->
                                    </div>
                                    <!--NAMA UJIAN-->
                                    
                                    <!--Jumlah Soal-->
                                    <div class="fv-row mb-7">
                                        <!--begin::Label-->
                                        <label class="required fw-bold fs-6 mb-2">Jumlah Soal</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="number" name="jumlah_soal" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="cth: 10" value="{{ item.jumlah_soal }}"/>
                                        <!--end::Input-->
                                    </div>
                                    <!--Jumlah Soal-->

                                    <!--NAMA KELAS-->
                                    <div class="mb-7">
                                        <label class="required fw-semibold fs-6 mb-2">Kelas</label>
                                        <select class="form-select" data-control="select2" data-placeholder="--Pilih Kelas--" name="id_kelas">
                                            <option></option>
                                            {% for kelas in kls %}
                                            <option value="{{kelas.id_kelas}}">{{kelas.nama_kelas}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!--NAMA KELAS-->

                                    <!-- MAPEL -->
                                    <input hidden type="text" name="id_mapel" class="form-control form-control-solid mb-3 mb-lg-0" value="{{ user.id_mapel }}"/>
                                    <!-- MAPEL -->
                                </div>
                                <!--end::Scroll-->
                                <!--end::Form-->
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- MODAL EDIT UJIAN -->
        </div>
    </div>
</div>

{% endblock %}