{% extends 'pg_siswa/layout/temp.html' %} 
{% block content %} 

<!--begin::Content-->
<div class="d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container">
            {% for item in nomorsoal %}
            <!--begin::details View-->
            <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                <!--begin::Card header-->
                <div class="card-header cursor-pointer">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h2 class="text-danger fw-bolder m-0">Mengerjakan Soal!</h2>
                    </div>
                    <!--end::Card title-->
                </div>
                <!--begin::Card header-->
                <!--begin::Card body-->
                <div class="card-body p-9">
                    <div class="row">
                        <div class="col-lg-12 mb-7">
                            <div class="d-flex flex-column flex-md-row">
                                <div class="col-lg-12">
                                    <form action="" method="post" class="form">
                                        {% csrf_token %}
                                        <h3 class="mb-5"> Soal No {{forloop.counter}} <span class="text-danger">*</span></h3>
                                        <h4>{{ item.soal }}</h4>
                                        <textarea name="jawaban_siswa" class="form-control form-control-solid mb-3"></textarea>
                                        <textarea hidden name="kunci_jawaban" class="form-control form-control-solid mb-3">{{ item.kunci_jawaban }}</textarea>
                                        <input type="number" name="bobot_soal" class="form-control form-control-solid mb-4" value="{{ item.bobot_soal }}" hidden />
                                        <input hidden type="text" name="id_soal" class="form-control form-control-solid mb-4" value="{{ item.id_soal }}" />
                                        <input hidden type="text" name="id_siswa" class="form-control form-control-solid mb-4" value="{{ user.id }}" />
                                        <button type="submit" class="btn btn-warning">Simpan Jawaban</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Card body-->
            </div>
            <!--end::details View-->
            {% endfor %}
            <ul class="pagination pagination-circle pagination-outline">
                {% if page_obj.has_previous %}
                <li class="page-item previous disabled m-1"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><i class="previous"></i></a></li>
                {% endif %}

                <li class="page-item active m-1"><a href="#" class="page-link">{{ page_obj.number }}</a></li>
                
                {% if page_obj.has_next %}
                <li class="page-item next m-1"><a href="?page={{ page_obj.next_page_number }}"  class="page-link"><i class="next"></i></a></li>
                {% endif %}
            </ul>
            <div class="d-flex justify-content-end me-15">
                <a href="#" class="btn btn-primary">Selanjutnya <i class="las la-arrow-right"></i></a>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->

{% endblock %}