{% extends 'pg_siswa/layout/temp.html' %} 
{% block content %} 

<!--begin::Content-->
<div class="d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container">
            <div class="row">
                {% for item in detail_jawaban %}
                <div class="col-md-6">
                    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                    <div class="card-header cursor-pointer">
                        <div class="card-title m-0">
                            <h2 class="text-danger fw-bolder m-0">Soal No {{forloop.counter}}</h2>
                        </div>
                        <div class="card-toolbar">
                            <span class="badge badge-lg badge-light-success fs-3">Nilai: {{ item.nilai }}</span>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row">
                            <div class="col-lg-12 mb-7">
                                <div class="d-flex flex-column flex-md-row">
                                    <div class="col-lg-12">
                                        <h3>{{ item.soal }}</h3>
                                        <textarea class="form-control form-control-solid mb-3" disabled>{{ item.jawaban_siswa }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}