{% extends 'pg_siswa/layout/temp.html' %} 
{% block content %} 

<div class="d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div class="container" id="kt_content_container">
            <!--begin::Row-->
            <div class="row gy-10 gx-xl-10 mb-7">
                <!--begin::Col-->
                <div class="col-xl-12">
                    <!--begin::Card-->
                    <div class="card">
                        <!--begin::Card header-->
                        <div class="card-header border-0 pt-6">
                            <!--begin::Card title-->
                            <div class="card-title">
                                <!--begin::Search-->
                                <div class="d-flex align-items-center position-relative my-1">
                                    <!--begin::Svg Icon | path: icons/duotone/General/Search.svg-->
                                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                            </g>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                    <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search user" id="pencarian" />
                                </div>
                                <!--end::Search-->
                            </div>
                            <!--begin::Card title-->
                            <!--begin::Card toolbar-->
                            <div class="card-toolbar">
                                <!--begin::Toolbar-->
                                <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                                </div>
                                <!--end::Toolbar-->
                            </div>
                            <!--end::Card toolbar-->
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            <!--begin::Table-->
                            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                                <!--begin::Table head-->
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                        <th class="min-w-125px">User</th>
                                        <th class="min-w-125px">Role</th>
                                        <th class="min-w-125px">Last login</th>
                                        <th class="min-w-125px">Joined Date</th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody class="text-gray-600 fw-bold">
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Emma Smith</a>
                                                <span>e.smith@kpmg.com.au</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Administrator</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">Yesterday</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>15 Apr 2021, 5:20 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Melody Macy</a>
                                                <span>melody@altbox.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Analyst</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">20 mins ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>19 Aug 2021, 11:30 am</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Max Smith</a>
                                                <span>max@kt.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Developer</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">3 days ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>25 Jul 2021, 6:43 am</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Sean Bean</a>
                                                <span>sean@dellito.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Support</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">5 hours ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>24 Jun 2021, 9:23 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Brian Cox</a>
                                                <span>brian@exchange.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Developer</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">2 days ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>15 Apr 2021, 9:23 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Mikaela Collins</a>
                                                <span>mikaela@pexcom.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Administrator</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">5 days ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>15 Apr 2021, 9:23 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Francis Mitcham</a>
                                                <span>f.mitcham@kpmg.com.au</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Trial</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">3 weeks ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>21 Feb 2021, 6:43 am</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Olivia Wild</a>
                                                <span>olivia@corpmail.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Administrator</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">Yesterday</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>20 Dec 2021, 10:10 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Neil Owen</a>
                                                <span>owen.neil@gmail.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Analyst</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">20 mins ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>10 Mar 2021, 5:20 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Dan Wilson</a>
                                                <span>dam@consilting.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Developer</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">3 days ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>10 Nov 2021, 8:43 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Emma Bold</a>
                                                <span>emma@intenso.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Support</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">5 hours ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>20 Dec 2021, 8:43 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Ana Crown</a>
                                                <span>ana.cf@limtel.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Developer</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">2 days ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>25 Oct 2021, 9:23 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Robert Doe</a>
                                                <span>robert@benko.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Administrator</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">5 days ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>25 Jul 2021, 9:23 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">John Miller</a>
                                                <span>miller@mapple.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Trial</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">3 weeks ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>15 Apr 2021, 11:05 am</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Lucy Kunic</a>
                                                <span>lucy.m@fentech.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Administrator</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">Yesterday</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>19 Aug 2021, 11:30 am</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Melody Macy</a>
                                                <span>melody@altbox.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Analyst</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">20 mins ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>20 Jun 2021, 5:20 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Max Smith</a>
                                                <span>max@kt.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Developer</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">3 days ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>25 Oct 2021, 5:30 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Sean Bean</a>
                                                <span>sean@dellito.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Support</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">5 hours ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>15 Apr 2021, 11:30 am</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Brian Cox</a>
                                                <span>brian@exchange.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Developer</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">2 days ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>22 Sep 2021, 11:30 am</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Mikaela Collins</a>
                                                <span>mikaela@pexcom.com</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Administrator</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">5 days ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>19 Aug 2021, 5:20 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                    <!--begin::Table row-->
                                    <tr>
                                        
                                        <!--begin::User=-->
                                        <td class="d-flex align-items-center">
                                            <!--begin::User details-->
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-gray-800 text-hover-primary mb-1">Francis Mitcham</a>
                                                <span>f.mitcham@kpmg.com.au</span>
                                            </div>
                                            <!--begin::User details-->
                                        </td>
                                        <!--end::User=-->
                                        <!--begin::Role=-->
                                        <td>Trial</td>
                                        <!--end::Role=-->
                                        <!--begin::Last login=-->
                                        <td>
                                            <div class="badge badge-light fw-bolder">3 weeks ago</div>
                                        </td>
                                        <!--end::Last login=-->
                                        
                                        <!--begin::Joined-->
                                        <td>24 Jun 2021, 2:40 pm</td>
                                        <!--begin::Joined-->
                                        
                                    </tr>
                                    <!--end::Table row-->
                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
    </div>
</div>

{% endblock %}