{% extends 'pg_siswa/layout/temp.html' %} 
{% block content %} 

<div class="d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div class="container" id="kt_content_container">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="row">
                        <div class="col-md-5 mb-7">
                            <div class="alert alert-dismissible bg-success d-flex flex-column flex-sm-row">
                                <!--begin::Svg Icon | path: assets/media/icons/duotone/Code/Info-circle.svg-->
                                <span class="svg-icon svg-icon-2hx svg-icon-light me-4 mb-5 mb-sm-0"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                    <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"/>
                                    <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"/>
                                </svg></span>
                                <!--end::Svg Icon-->
        
                                <!--begin::Wrapper-->
                                <div class="d-flex flex-column text-light pe-0 pe-sm-10 mt-2">
                                    <!--begin::Title-->
                                    <h4 class="text-white">{{message}}</h4>
                                    <!--end::Title-->
                                </div>
                                <!--end::Wrapper-->
        
                                <!--begin::Close-->
                                <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                                    <!--begin::Svg Icon | path: assets/media/icons/duotone/Navigation/Close.svg-->
                                    <span class="svg-icon svg-icon-2x svg-icon-light"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                            <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1"/>
                                            <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1"/>
                                        </g>
                                    </svg></span>
                                    <!--end::Svg Icon-->
                                </button>
                                <!--end::Close-->
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!--begin::Row-->
            <div class="row gy-10 gx-xl-10 mb-7">
                {% for item in jawaban_siswa %}
                    <div class="col-md-6">
                        <div class="card card-flush h-md-100 bg-success">
                            <div class="card-header">
                                <div class="card-title">
                                    <h2 class="text-white">[{{ item.kode_soal }}]</h2>
                                    <h5 class="text-white ms-7 text-center">{{ item.tgl_input|date:"d M Y, H:i" }}</h5>
                                </div>
                                <div class="card-toolbar">
                                    <span class="badge badge-lg badge-light-success fs-3">Nilai: {{ item.nilai_siswa }}</span>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <h1 class="text-white display-5 mb-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                      </svg>
                                    {{ item.nama_ujian }}
                                </h1>
                                <div class="fw-bolder text-white mb-3 fs-4">Total keseluruhan soal: {{ item.jumlah_soal }}</div>
                                <div class="d-flex flex-column text-white">
                                    <div class="d-flex align-items-center py-2">
                                        <span class="bullet bg-primary me-3"></span>
                                        Telah dikerjakan pada: {{ item.tgl_input_jawaban|date:"d M Y, H:i" }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end align-items-end pt-0">
                                <a href="/jawaban-{{ item.id_kdsoal }}" class="btn btn-light btn-active-light-success my-1 me-2">Lihat Detail!</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--end::Row-->
        </div>
    </div>
</div>

{% endblock %}